button{
    background-color:orange;
    border: none;
    align-content: center;
    font-size: 25px;
    height: 30px;
    font-family: "Arial";
}
textarea{
    min-height: 45vh;
    width: 95vw;
    max-width: 98vw;
    min-width: 90vw;
    height: 75vh;
    max-height: 78vh;
    min-height: 70vh;
    font-family: "Arial";
}
.title{
    font-size: 45px;
    font-family: "Arial";
}
.menu-bar{
    flex-flow: row wrap;
}